body{
	background-color: black !important
}
.sfbgg {
    background-color: black !important;
}
div#cnt {
    background-color: black  !important;
}
.wCIBKb {
    background-color: black  !important;
}
div#hdtbSum {
    background-color: black  !important;
}
div#topabar{
	background-color: black  !important;
}
llvJ5e.ivLVOc {
    background-color: black  !important;
}
.MjS0Lc.nHGuld {
    background-color: black  !important;
}
.sfbg.nojsv{
	background-color: black  !important;
}
div#rhscol {
    background: black !important ;
}
div#rcnt {
    background-color: black !important;
}
/*Footer*/

div#fbar {
    background-color: black  !important;
}

.LC20lb{
	color: white;
}
.c94Vsf .Y1mqLe .kp-rgc , span{
	color: white;
}

g-inner-card.zf84ud.cv2VAd {
    background-color: black;
}


